{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">{% trans 'Taňyrýalkasyn!' %}</h2>
            <p class="lead mb-5">{% trans 'Siz parolyňyzy çalşdyňyz' %}</p>
            <p><a href="{% url 'home' %}" class="btn btn-sm btn-primary">{% trans 'Baş sahypa' %}</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}