    {% load i18n %}
    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">{% trans 'Salgylanmamyz' %}</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="{% url 'home' %}">{% trans 'Baş sahypa' %}</a></li>
                  <li><a href="{% url 'about' %}">{% trans 'Biz barada' %}</a></li>
                  <li><a href="{% url 'download_pdf' %}">{% trans 'Katalog' %}</a></li>
                  <li><a href="{% url 'shop' %}">{% trans 'Dükan' %}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">{% trans 'Habarlaşmak üçin' %}</h3>
              <ul class="list-unstyled">
                <li class="address">{{ adress.content }}</li>
                <li class="phone"><a href="tel://+993 (800) 522 79900">+993 (800) 522 79900</a></li>
                <li class="phone"><a href="tel://+993 (800) 522 79700">+993 (800) 522 79700</a></li>
                <li><i class="icon-whatsapp" style="font-size: 20px; color: #1c7430"></i>  +993 64 308243</li>
                <li class="email">sales.shatumar@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> {% trans 'Hemme hukuklar goragda' %} | {% trans 'Şatumar hususy kärhanasy' %}
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
